@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pre-header-strip {
  background: #0a1133;
  color: white;
}

.pre-header-strip ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pre-header-strip ul li {
  display: inline-block;
}
